*{
    margin:0;
    font-family: arial;
    border: border-box;
}
.nav{
    background-image: url(nethero.jpg);
    height:100vh ;
    width: 100vw;
    background-size: cover;
    background-color: rgb(0 0 0/50%);
    background-blend-mode:multiply;
    
}

.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}


.navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* navbarlogo */
.navbarlogo{
    background-image: url(Netflix_Logo_PMS.png);
    width: 278px;
    height:130px;
    background-size: cover;
}
    /* language menu */
.select{
    background-color: black;
    color:white;
    height: 60px;
    width:200px;
    margin-left: 900px;
    opacity:.6;
    font-size: 23px;
    
}
/* signup button */

.signup1{
    height: 50px;
    width: 150px;
    /* margin-top: 50px; */
    margin-right: 100px;
    background-color: rgb(255, 0, 0);
    border-radius:15px;
    font-size: 25px;
    color: white;
}
.navcontent{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    color:white;
    margin-top: 15rem;
}
h1{
    font-size: 65px;
}
.navcontent{
    font-size: 40px;
    padding-top: 5px;
}
.navcontent h5{
    font-size: 25px;
    padding-top: 15px;
}
.select2{
    display: flex;
    justify-content: center;
    padding-top: 15px;
    
}
input{
    background-color: white;
    width:420px;
    height: 60px;
    font-size: 30px;
    color: grey;
    border-radius: 10px;
    
}
.gs2{
    width:180px;
    height: 67px;
    color:white;
    background-color: red;
    padding-left:10px;
    cursor:pointer;
    border-radius: 10px;
    font-size: 20px;
}
